@model AlAl3abProject.Models.HomePageModel
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4"><span class="text-muted fw-light">لوحة التحكم /</span>  البروموشن للمنتجات</h4>
    <a asp-area="Admin" asp-controller="PromotingItemSeller" asp-action="Form"><button type="button" class="btn btn-primary">اضف عنصر جديد ف    البروموشن للمنتجات</button></a>
    <!-- DataTable with Buttons -->
    <div class="card">
        <div class="data_table">
            <table id="example" class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>اسم المنتج</th>
                      
                        <th>اسم التاجر   </th>
                      
                       
                         <th>قيمة البروموشن </th>
                       
                        <th>تعديل</th>

                        <th>حذف</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstPromotingItemSellers)
                    {

                        <tr>
                            <td>@Model.lstItems.Where(a=> a.ItemId == item.ItemId).FirstOrDefault().ItemName</td>
                          
                            <td>
                                @Model.lstSellers.Where(a=> a.SellerId == item.SellerId).FirstOrDefault().SellerFullName
                            </td>
                         

                           <td>@item.PromotioValue</td>
                          
                            <td>
                                <a asp-area="Admin" asp-controller="PromotingItemSeller" asp-action="Form" asp-route-id="@item.PromotingItemSellerId" class="btn btn-info text-white" style="cursor:pointer">
                                    تعديل
                                </a>
                            </td>
                            <td>
                                <a asp-area="Admin" asp-controller="PromotingItemSeller" asp-action="Delete" asp-route-id="@item.PromotingItemSellerId" class="btn btn-danger text-white" style="cursor:pointer">
                                    حذف
                                </a>
                            </td>


                        </tr>

                    }


                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal to add new record -->
    <div class="offcanvas offcanvas-end" id="add-new-record">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="exampleModalLabel">New Record</h5>
            <button type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>

    </div>
    <!--/ DataTable with Buttons -->

    <hr class="my-5" />


    <!--/ Content -->
</div>