  <!-- Content -->
@model AlAl3abProject.Models.HomePageModel
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>عدد التجار</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 class="mb-0 me-2">@ViewBag.LawyersCount</h4>
                             @*   <small class="text-success">(+29%)</small>*@
                            </div>
                            <small>التجار </small>
                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                            <i class="bx bx-user bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>عدد العملاء</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 class="mb-0 me-2">@ViewBag.UsersCount</h4>
                                @*<small class="text-success">(+18%)</small>*@
                            </div>
                            <small>عدد العملاء   </small>
                        </div>
                        <span class="badge bg-label-danger rounded p-2">
                            <i class="bx bx-user-plus bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>اجمالي عدد المستخدمين</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 class="mb-0 me-2">@ViewBag.TotaCount</h4>
                               @* <small class="text-danger">(-14%)</small>*@
                            </div>
                            <small>عدد المستخدمين  </small>
                        </div>
                        <span class="badge bg-label-success rounded p-2">
                            <i class="bx bx-group bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
       @* <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>Pending Users</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 class="mb-0 me-2">237</h4>
                                <small class="text-success">(+42%)</small>
                            </div>
                            <small>Last week analytics</small>
                        </div>
                        <span class="badge bg-label-warning rounded p-2">
                            <i class="bx bx-user-voice bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <!-- Users List Table -->
    <div class="card" style="width:1400px">
        <div class="data_table">
            <table id="example" class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                         <th>الصورة الشخصية</th>
                        <th>اسم الاكونت</th>
                        <th>  ايميل المستخدم</th>
                       
                       

                        <th>نوع المستخدم</th>


                         


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstUsers)
                    {

                        <tr>
                            <td class="avatar avatar-xl">
                                <img src="@string.Format("/Uploads/{0}",item.Image)" alt="Avatar" class="rounded-circle">
                            </td>
                            <td>@item.UserName</td>
                            <td>
                                @item.Email
                            </td>
                            
                            <td>
                                @item.AccountType
                            </td>
                           @* <td style="max-width:20px%; max-height:20px">

                                <img   src="@string.Format("/Uploads/{0}",item.Image)" alt="Img placeholder">





                            </td>*@

                          
                          

                        </tr>

                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- / Content -->